/* Put IE fixes here */
.megadrop {
	border-top: 1px #EBEBE8 solid;
	border-right: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
	border-left: 1px #EBEBE8 solid;
}
#pavecalc .tabel-box-kombi.checked .note {
	border: 1px #EBEBE8 solid;
}
#pavecalc .tabel-box-kombi .note {
	padding: 10px 5px 2px 10px;
}
#pavecalc .tabel-box-kombi-less .note,#pavecalc .tabel-box-kombi-more .note {
	padding-top: 2px;
	height: 50px;
}
body div { z-index: 1; }
body .megabox * { z-index: 300; }
#page { width: 100%; }
#content-wrapper { min-height: 400px; }
.relatedproducts {
	border-width: 0 1px 1px 1px !important;
	border-color: #ebebe8 !important;
	border-style: solid !important;
	background-color: #fff;
	margin: -20px 0 0 -26px;
	z-index: 300;
}
.facebookbox {
	margin: 10px 0 60px 0;
	padding: 10px 0 60px 0;
	position: relative;
	z-index: 200;
}
#search-block-form .form-text {
	width: 100px;
}
