/* Done by Jonas Krat, franklyweb.dk in 2012 */
/* Text styles - HTML 5 reset */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
/*table, tbody, tfoot, thead, tr, th, td,*/ /* Ændret af Kasper Rasmussen */
caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 100%;
	line-height: 1.1em;
	vertical-align: baseline;
	color: #222;
	background: #fff;
	background-position: center top;
	background-repeat: repeat;
}
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Basic elements */
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
:focus { outline: 0; }
a:link, a:visited {
	color:#222;
	text-decoration: none;
	margin:0;
}
a:hover,a:active,a:focus,a.active {
	color:#ef3339;
	margin:0;
	outline: none;
}
#content-main .content a:link,#content-main .content a:visited { text-decoration: underline; }
#content-main .content a:hover,#content-main .content a:active,#content-main .content a:focus,#content-main .content a.active { text-decoration: none; }
#content-main #content-product-list a,#content-main #content-product-list a:link,#content-main #content-product-list a:visited {text-decoration: none;}

/* Custom text-selection colors */
::-moz-selection{background: #2d3d7d; color: #fff; text-shadow: none;}
::selection {background: #2d3d7d; color: #fff; text-shadow: none;}
a:link {-webkit-tap-highlight-color: #2d3d7d;}

h1 a, h1 a:link, h1 a:visited,
h2 a, h2 a:link, h2 a:visited,
h3 a, h3 a:link, h3 a:visited,
h4 a, h4 a:link, h4 a:visited {
	color:#000;
	text-decoration: none;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active {
	color:#ef3339;
}

h1,h2,h3,h4,h5,h6,h7 {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	padding-top: .4em;
	line-height: 1.3em;
	font-weight: normal;
}
h1 {
	font-family: 'GeogrotesqueThin',arial,helvetica,tahoma,sans-serif;
	font-size: 5.1429em;
	line-height: 1em;
	font-weight: normal;
	color: #7e664e;
}
h1.title {
	padding-top: 0;
	margin-bottom: .55em;
}
.view-empty h1 { padding-top: 0; }
.view-empty h1, h1.content-title,.headerbox h1.title,.view-header h1.title,.section-pdf h1.title,.section-kontakt-forhandlere h1.title,.section-contact-dealers h1.title,.section-kontakt-und-handler h1.title {
	font-family: 'GeogrotesqueLight',arial,helvetica,tahoma,sans-serif;
	font-size: 4.286em;
	line-height: 1em;
	font-weight: normal;
	margin-bottom: 33px;
	color: #7e664e;
}
.section-pdf h1.title {
	padding: 20px 0 20px 0;
	margin: 20px 0 20px 0;
}
h2 {
	font-family: 'GeogrotesqueLight',arial,helvetica,tahoma,sans-serif;
	font-size: 2.143em;
	font-weight: normal;
	color: #a59e96;
	line-height: 1em;
	padding-top: .65em;
	margin-top: .65em;
	padding-bottom: .2em;
	margin-bottom: .2em;
}
h2 strong {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 1em;
	font-weight: normal;
	color:#222;
}
h3 {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 1.429em;
	font-weight: normal;
	color: #222;
	line-height: 1.2em;
}
h4,.otherinfo h3 {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.1em;
}
.headerbox,.view-header {
	position: relative;
	z-index: 1;
}
.headerbox h2,.view-header h2 {
	padding-bottom: 15px;
	padding-top: 25px;
	font-size: 2.571em;
	color: #a59e96;
}
.date {
	font-size: 1em;
	color: #999;
}
.headerbox h3.date {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 1.286em;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
}


ol,ul { }
ul { list-style: none; }
p,ul,ol,dl {
	padding: .4em 0;
	margin-bottom: .55em;
}
ul,ol,dd { margin-left: 1em; }
li ul,li ol { margin-left: 1.5em; }
li ol li { list-style-type: lower-alpha; }
li,dt,dd { padding: .2em 0; }
#content-main ul {
	list-style: disc;
	margin-left: 2em;
}
#content-main ol {
	margin-left: 2.5em;
}
dt { font-weight: normal; }

table {margin: .5em 0;border-collapse: collapse; border-spacing: 0;font-size: inherit; font: 100%;}
table tbody { border-top: 0;}
th {vertical-align: bottom;}
td, td img {vertical-align: top;}
img { display: block; }
caption, th, td {
	text-align: left;
	font-weight: normal;
	padding: .2em;
}
th, strong {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
}
blockquote, q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: ''; content: none;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
form {
	margin: 0;
	padding: 0;
}
input, select {vertical-align: middle;}
input[type='radio'] {vertical-align: text-bottom;}
input[type='checkbox'] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {
	font-size: 99%;
}
.clickable, label, input[type=button], input[type=submit], button {cursor: pointer;}
button, input, select, textarea {
	margin: 0;
	font-size: 16px;
}
textarea,.form-textarea-wrapper textarea {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	border: 1px solid #ddd;
	padding: 5px 0 0 10px;
	width: 99%;
}
.webform-confirmation {
	margin-left: 20px;
}

button {width: auto; overflow: visible;}
.button {
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	color: #222;
	padding: 10px 20px;
	background: #eee;
	cursor: pointer;
	border-right: 10px solid #8dc63f;
}
a.button,a.button:link,a.button:visited {
	color: #222;
	text-decoration: none;
}
.form-text {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	border: 1px solid #ddd;
	width: 90%;
	padding: 5px 10px;
}
.webform-container-inline .form-text { width: 67%; }
.webform-container-inline label {
	display: inline-block;
	width: 20%;
}
#webform-client-form-1510 label {
	font-family: 'GeogrotesqueRegularItalic',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #4D4D4D;
	font-style: italic;
	white-space: nowrap;
	padding-right: 1em;
}
#webform-client-form-1510 .webform-container-inline .form-text {
	width: 100px;
}

.form-submit,.button.black {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 18px;
	font-weight: normal;
	background: #303337;
	border: 0;
	color: #fff;
	padding: 13px 15px;
	text-transform: uppercase;
}
#content-main .webform-client-form .form-actions {
	width: 94%;
}

.block-webform .form-submit,.block-webform .button.black,.block-mailchimp-lists .form-submit,.block-mailchimp-lists .button.black {
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 15px;
}
a.button.black,a.button.black:link,a.button.black:visited { color: #fff; }
.form-actions {
	text-align: right;
	padding-right: 3px;
}
.form-actions a { text-align: left; }

pre { white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */ }
pre, code, kbd, samp {font-family: monospace, sans-serif;}
small {font-size: .85em;}
sub, sup {font-size: .75em; line-height: 0; position: relative;}
sup {top: 0.1em;}
sub {bottom: -0.25em;}
ins {background-color: #2d3d7d; color: #000; text-decoration: none;}
mark {background-color: #2d3d7d; color: #000; font-style: italic; font-weight: normal;}

.hide, .print-logo, .close-button { display:none; }
.left { float: left; }
.right { float: right; }
.clear { clear:both; height:1px; font-size:1px; line-height:1px; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
object,embed {max-width: 100%;}
a img { border: none; }
.ie7 img {-ms-interpolation-mode: bicubic;}
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

.menu ul {
	padding: 0;
	margin: 0;
}
.menu li {
	list-style: none;
	display: inline;
	float: left;
}
.menu li a {
	display: block;
	padding: 7px;
}

/*** Produkt oversigt side ***/
body.node-type-produkt-oversigt {
	background-position: left top;
	background-repeat: repeat;
}

/*** Flotte haver ***/
body.section-flotte-haver { background: url('grafik/grass-bg.jpg') repeat center top; }
body.section-flotte-haver #container-wrapper { background: url('grafik/hanhunhaven-top-bg.jpg') no-repeat center top; }
body.section-flotte-haver.node-type-page #content-main { background: url('grafik/hanhunoghavenlogo.png') no-repeat 100% 20px; }

body.section-flotte-haver #content-main.wideview .headerbox h1.title {
	font-family: 'GeogrotesqueThin',arial,helvetica,tahoma,sans-serif;
	font-size: 90px;
	letter-spacing: -.05em;
	margin: 0;
	padding: 0;
}
body.section-flotte-haver #content-main.wideview .headerbox .box {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 29px;
	line-height: 1.2em;
	padding: 5px;
}
body.section-flotte-haver #content-main.wideview .headerbox .box p {
	margin: 0;
	padding: 0;
}

/*** Han, Hun og Haven special ***/
body.section-han-hun-og-haven { background: url('grafik/grass-bg.jpg') repeat center top; }
body.section-han-hun-og-haven #container-wrapper { background: url('grafik/hanhunhaven-top-bg.jpg') no-repeat center top; }
/*body.section-han-hun-og-haven.node-type-page #content-main { background: url('grafik/hanhunoghavenlogo.png') no-repeat 100% 20px; }*/
.moviebox {
	background: url('grafik/spacer580.png') no-repeat center bottom;
	padding: 0 0 50px 0;
}
body.section-han-hun-og-haven #content-main.wideview .headerbox h1.title {
	font-family: 'GeogrotesqueThin',arial,helvetica,tahoma,sans-serif;
	font-size: 90px;
	letter-spacing: -.05em;
	margin: 0;
	padding: 0;
}
body.section-han-hun-og-haven #content-main.wideview .headerbox .box {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 29px;
	line-height: 1.2em;
	padding: 5px;
}
body.section-han-hun-og-haven #content-main.wideview .headerbox .box p {
	margin: 0;
	padding: 0;
}

/*** Layout ***/
#container {
	width: 940px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	background: #fff;
}

#branding {
	position: relative;
	font-size: .875em;
	height: 160px;
	background: #eee;
	margin-bottom: 20px;
}
#branding-logo {
	position: absolute;
	top: 20px;
	left: 44px;
}
/*#branding-nav { }
#search-block-form {
	position: absolute;
	top: 116px;
	right: 30px;
}*/
#branding-nav { }
#search-block-form {
	position: absolute;
	top: 56px;
	right: 24px;
}


.i18n-pl #search-block-form { right: 20px; }
#search-block-form .form-submit,#search-block-form .form-text {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 1.143em;
	background: #fff;
	border: 0;
	padding: 4px 6px 4px 6px;
	margin: 0;
	display: block;
	float: left;
	color: #333;
}
#search-block-form .form-submit {
	text-transform: uppercase;
	font-size: 14px;
	height: 27px;
}
#search-block-form .form-text {
	height: 19px;
	width: 120px;
}
.search-results h3.title {
    color: #222222;
    font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
    font-size: 1.429em;
    font-weight: normal;
    line-height: 1.2em;
}
.search-results .search-snippet-info { padding: 0; }
.search-results .search-info { display: none; }
.search-form .form-submit {
	height: 30px;
	padding: 7px 12px;
	margin: 0;
}
.page-search #content-wrapper .region-content {
	width: 620px;
	margin-left: 20px;
}
ol.search-results { margin: 0; }
.search-form input.form-text {
	width: 80%;
}

#block-menu-menu-top-menu,#block-menu-menu-top-menu-en,#block-menu-menu-top-menu-de,#block-menu-menu-top-menu-ro,#block-menu-menu-top-menu-pl,#block-menu-menu-top-menu-nb, #block-menu-menu-menu-top-menu-gh, #block-menu-menu-top-menu-sv {
	position: absolute;
	top: 12px;
	right: 175px;
	/*** SV change : right: 175px; ***/
	font-size: 1.143em;
}
#block-menu-menu-top-menu li,#block-menu-menu-top-menu-en li,#block-menu-menu-top-menu-de li,#block-menu-menu-top-menu-ro li,#block-menu-menu-top-menu-pl li,#block-menu-menu-top-menu-nb li, #block-menu-menu-menu-top-menu-gh li, #block-menu-menu-top-menu-sv li {
	margin: 0;
	padding: 0;
}
#block-menu-menu-top-menu .menu a,#block-menu-menu-top-menu-en .menu a,#block-menu-menu-top-menu-de .menu a,#block-menu-menu-top-menu-ro .menu a,#block-menu-menu-top-menu-pl .menu a,#block-menu-menu-top-menu-nb .menu a, #block-menu-menu-menu-top-menu-gh .menu a, #block-menu-menu-top-menu-sv .menu a {
	text-decoration: none;
	border-right: 1px solid #c7c6c5;
	padding: 0 7px;
	font-size: .9375em;
}
#block-menu-menu-top-menu .menu li a:hover, #block-menu-menu-top-menu .menu li a:active, #block-menu-menu-top-menu .menu li a.active, #block-menu-menu-top-menu .menu li a:focus,
#block-menu-menu-top-menu-en .menu li a:hover, #block-menu-menu-top-menu-en .menu li a:active, #block-menu-menu-top-menu-en .menu li a.active, #block-menu-menu-top-menu-en .menu li a:focus,
#block-menu-menu-top-menu-ro .menu li a:hover, #block-menu-menu-top-menu-ro .menu li a:active, #block-menu-menu-top-menu-ro .menu li a.active, #block-menu-menu-top-menu-ro .menu li a:focus,
#block-menu-menu-top-menu-pl .menu li a:hover, #block-menu-menu-top-menu-pl .menu li a:active, #block-menu-menu-top-menu-pl .menu li a.active, #block-menu-menu-top-menu-pl .menu li a:focus,
#block-menu-menu-top-menu-nb .menu li a:hover, #block-menu-menu-top-menu-nb .menu li a:active, #block-menu-menu-top-menu-nb .menu li a.active, #block-menu-menu-top-menu-nb .menu li a:focus,
#block-menu-menu-menu-top-menu-gh .menu li a:hover, #block-menu-menu-menu-top-menu-gh .menu li a:active, #block-menu-menu-menu-top-menu-gh .menu li a.active, #block-menu-menu-menu-top-menu-gh .menu li a:focus,
#block-menu-menu-top-menu-gh .menu li a:hover, #block-menu-menu-top-menu-gh .menu li a:active, #block-menu-menu-top-menu-gh .menu li a.active, #block-menu-menu-top-menu-gh .menu li a:focus,
#block-menu-menu-top-menu-sv .menu li a:hover, #block-menu-menu-top-menu-sv .menu li a:active, #block-menu-menu-top-menu-sv .menu li a.active, #block-menu-menu-top-menu-sv .menu li a:focus,
#block-menu-menu-top-menu-de .menu li a:hover, #block-menu-menu-top-menu-de .menu li a:active, #block-menu-menu-top-menu-de .menu li a.active, #block-menu-menu-top-menu-de .menu li a:focus,li a.active:hover,li a.active:active,li a.active:focus,li a.active
 {
	color: #ef3339;
}

#siteinfo li.prislister a {
	padding-right: 15px;
	background: url('grafik/passwordprotected.png') no-repeat right -79px;
	padding-bottom: 0;
	padding-top: 6px; 
}

#block-menu-menu-top-menu li.prislister a {
	padding-right: 15px;
	background: url('grafik/passwordprotected.png') no-repeat right -87px;
	padding-bottom: 0;
	/*padding-top: 6px; */
}

#siteinfo li.prislister { margin-bottom: 0; }
#siteinfo li.salgs-og-leveringsbetingelser a {
	padding: 0 7px;
	line-height: 1.2em;
}
#siteinfo li.salgs-og-leveringsbetingelser { margin-top: 0; }

#block-menu-menu-language {
	position: absolute;
	top: 14px;
	right: 26px;
}
#block-menu-menu-language ul.menu li {
	float: left;
	width: 20px;
	height: 16px;
	line-height: 14px;
	padding: 0;
	margin: 0;
}
#block-menu-menu-language ul.menu li a {
	display: block;
	text-indent: -999em;
	background: url('grafik/flag.png') no-repeat 0 2px;
	padding: 1px 2px 2px 1px;
	margin: 0;
}
#block-menu-menu-language ul.menu li.deutsch a { background-position: 0 -37px; }
#block-menu-menu-language ul.menu li.english a { background-position: 0 -77px; }
#block-menu-menu-language ul.menu li.bokm-l a { background-position: 0 -117px; }
#block-menu-menu-language ul.menu li.romanian a { background-position: 0 -157px; }
#block-menu-menu-language ul.menu li.polish a { background-position: 0 -197px; }
#block-menu-menu-language ul.menu li.ghana a { background-position: 0 -237px; }
#block-menu-menu-language ul.menu li.svenska a { background-position: 0 -277px; }
#block-menu-menu-language ul.menu li a:hover,#block-menu-menu-language ul.menu li a:active,
#block-menu-menu-language ul.menu li a:focus,#block-menu-menu-language ul.menu li a.active,
.i18n-da #block-menu-menu-language ul.menu li.dansk a,.i18n-en #block-menu-menu-language ul.menu li.english a,.i18n-sv #block-menu-menu-language ul.menu li.svenska a,
.i18n-pl #block-menu-menu-language ul.menu li.polish a,.i18n-ro #block-menu-menu-language ul.menu li.romanian a,.i18n-en-GH #block-menu-menu-language ul.menu li.ghana a,
.i18n-de #block-menu-menu-language ul.menu li.deutsch a { background-color: #fff; }

.view-mega-drop-down .view-content { position: relative; z-index: 10; }
.view-mega-drop-down .view-content .views-row { float: left; }
#block-views-mega-drop-down-block {
	position: absolute;
	top: 97px;
	left: 15px;
}
#block-views-mega-drop-down-block ul ul { display: none;}
.megabox {
	min-height: 60px;
	font-size: 1em;
}
.megabox .title {
	margin: 5px 0 5px 5px;
	padding: 0;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.megabox .title .tabmenu {
	background: #fff;
	display: block;
	padding: 20px 20px 17px 20px;
	color: #222;
	font-size: 1.714em;
}
.i18n-pl .megabox .title .tabmenu {
	padding: 20px 20px 17px 20px;
	font-size: 1.571em;
}

.megabox .title .tabmenu:hover,.megabox .title .tabmenu:active,.megabox .title .tabmenu.active,.megabox .title .tabmenu:focus,.megabox .relatedproducts h2,.section-produkter-belaegning #megadrop9.megabox .title .tabmenu {
	color: #bd8cbf;
	text-decoration: none;
}
#megadrop10.megabox .title .tabmenu:hover,#megadrop10.megabox .title .tabmenu:active,#megadrop10.megabox .title .tabmenu.active,#megadrop10.megabox .title .tabmenu:focus,#megadrop10.megabox .relatedproducts h2,.section-produkter-tagsten #megadrop10.megabox .title .tabmenu,
#megadrop627.megabox .title .tabmenu:hover,#megadrop627.megabox .title .tabmenu:active,#megadrop627.megabox .title .tabmenu.active,#megadrop627.megabox .title .tabmenu:focus,#megadrop627.megabox .relatedproducts h2,.section-produkter-tagsten #megadrop627.megabox .title .tabmenu,
#megadrop618.megabox .title .tabmenu:hover,#megadrop618.megabox .title .tabmenu:active,#megadrop618.megabox .title .tabmenu.active,#megadrop618.megabox .title .tabmenu:focus,#megadrop618.megabox .relatedproducts h2,.section-produkter-tagsten #megadrop618.megabox .title .tabmenu { color: #fdb913; }
#megadrop11.megabox .title .tabmenu:hover,#megadrop11.megabox .title .tabmenu:active,#megadrop11.megabox .title .tabmenu.active,#megadrop11.megabox .title .tabmenu:focus,#megadrop11.megabox .relatedproducts h2,.section-produkter-murvaerk #megadrop11.megabox .title .tabmenu,
#megadrop620.megabox .title .tabmenu:hover,#megadrop620.megabox .title .tabmenu:active,#megadrop620.megabox .title .tabmenu.active,#megadrop620.megabox .title .tabmenu:focus,#megadrop620.megabox .relatedproducts h2,.section-produkter-murvaerk #megadrop620.megabox .title .tabmenu { color: #736357; }
#megadrop12.megabox .title .tabmenu:hover,#megadrop12.megabox .title .tabmenu:active,#megadrop12.megabox .title .tabmenu.active,#megadrop12.megabox .title .tabmenu:focus,#megadrop12.megabox .relatedproducts h2,.section-produkter-afloeb #megadrop12.megabox .title .tabmenu,
#megadrop619.megabox .title .tabmenu:hover,#megadrop619.megabox .title .tabmenu:active,#megadrop619.megabox .title .tabmenu.active,#megadrop619.megabox .title .tabmenu:focus,#megadrop619.megabox .relatedproducts h2,.section-produkter-afloeb #megadrop619.megabox .title .tabmenu { color: #8dc63f; }
#megadrop13.megabox .title .tabmenu:hover,#megadrop13.megabox .title .tabmenu:active,#megadrop13.megabox .title .tabmenu.active,#megadrop13.megabox .title .tabmenu:focus,#megadrop13.megabox .relatedproducts h2,.section-produkter-faerdigbeton #megadrop13.megabox .title .tabmenu,
#megadrop621.megabox .title .tabmenu:hover,#megadrop621.megabox .title .tabmenu:active,#megadrop621.megabox .title .tabmenu.active,#megadrop621.megabox .title .tabmenu:focus,#megadrop621.megabox .relatedproducts h2,.section-produkter-faerdigbeton #megadrop621.megabox .title .tabmenu { color: #448ccb; }
.megadrop {
	position: absolute;
	top: 63px;
	left: 4px;
	width: 880px;
	min-height: 180px;
	clear: both;
	background: #fff;
	background-position: 100% 0;
	background-repeat: no-repeat;
	-moz-box-shadow: 4px 4px 4px #333;
	-webkit-box-shadow: 4px 4px 4px #333;
	box-shadow: 4px 4px 6px #333;
	border-width: 1px 0 0 1px;
	border-color: #ebebe8;
	border-style: solid;
	color: #222;
	padding: 12px 0 0 25px;
}
.megadrop .collums {
	width: 275px;
	min-height: 187px;
	float: left;
	font-size: 1.429em;
	line-height: 1.1em;
}
#block-views-mega-drop-down-block .megadrop .collums ul {
	margin: 0;
}
#block-views-mega-drop-down-block .megadrop .collums ul li {
	list-style: none;
	margin-left: 0;
	color: #222;
	padding: 0 0 .3em 0;
}
#block-views-mega-drop-down-block .megadrop .collums ul span:before { content: '> '; }
.megadrop .collums2 {
	width: 320px;
}

.megadrop .collums3 {
	width: 240px;
	padding-left: 25px;
}
.megadrop .collums3 p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.megabox .title.active .shadowfixer {
	background: #fff;
	width: 100%;
	height: 10px;
	padding: 0;
	border-bottom: 1px solid #fff;
	position: absolute;
	z-index: 99;
	bottom: -5px;
	left: 0;
}

/* Product */
#slideshow {
	margin: 0;
	width: 640px;
	height: 396px;
	position: relative;
	z-index: 1;
}
#imageslideshow {
	position:relative;
	width: 620px;
	height: 396px;
	overflow: auto;
	margin-left: -20px;
}
#imageslideshow .slide {
	position: relative;
	z-index: 1;
	width: 620px;
	height: 396px;
}
#imageslideshow .slide .caption {
	position: absolute;
	right: 10px;
	bottom: 10px;
	text-align: right;
	font-size: .857em;
}
#imageslideshow .slide img {
	width: 620px;
	height: 396px;
	display: block;
	margin: 0 !important;
}
.field_colorimage {
	border-top: 10px solid #bcbfc3;
	padding-top: 10px;
	position: relative;
	z-index: 1;
}

.field_colorimage .color {
	width: 55px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: .857em;
	position: relative;
	z-index: 2;
	text-align: center;
}
.field_colorimage .color {
	position: relative;
	z-index: 3;
}

.field_colorimage .color .big {
	display: none;
	position: absolute;
	top:-125px;
	left:-33px;
	z-index: 100;
	border: 10px solid #fff;
	-moz-box-shadow: 4px 4px 4px #333;
	-webkit-box-shadow: 4px 4px 4px #333;
	box-shadow: 4px 4px 6px #333;
}
#content .field_colorimage .color .big img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0;
	position: relative;
	z-index: 100;
}
.field_colorimage .color:hover .big,.field_colorimage .color:active .big,.field_colorimage .color:focus .big { display: block; }
.field_colorimage .color .caption {
	height: 2.6em;
	overflow: hidden;
}

#related .field_colorimage .color .thumb img {
	width: 30px;
	height: 30px;
	margin: 0 0 10px 12px;
}
.field_colorimage .color {
	position: relative;
	z-index: 1;
}
.node-type-produkt .node-brochure img {
	width: 72px;
	height: auto;
}
.node-type-produkt .field_brochure_url .node-brochure {
	float: left;
	width: 80px;
	height: 130px;
}
.control {
	display: block;
	width: 100px;
	height: 396px;
	text-indent: -999em;
	cursor: pointer;
	position: absolute;
	z-index: 50;
	top: 0;
	width: 90px;
	height: 396px;
	background: none;
    background-image: url('grafik/slidearrows.png');
    background-position: 60px 170px;
    background-repeat: no-repeat;
}
#leftControl {
	left: -20px;
    background-position: -200px 170px;
}
#rightControl {
	left:510px;
}
#rightControl:hover, #rightControl:active, #rightControl:focus {
    background-position: -40px 170px;
}
#leftControl:hover, #leftControl:active,#leftControl:focus {
    background-position: -300px 170px;
}
.product-specification {
	position: related;
	margin-left: -25px;
	width: 620px;
}
.product-specification h3 {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 18px;
}
.product-specification th {
	font-family: 'GeogrotesqueRegularItalic',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding: 0;
}
.product-specification td { padding: 0 .4em .1em 0; }
.product-specification .data-tables { margin: 25px 10px 25px 25px; }
.product-specification .data-tables table { width: 100%; }
.product-specification td.images { width: 65px; }
.product-specification td.images .inner {
	position: relative;
	width: 60px;
	height: 60px;
}
.product-specification td.images img {
	position: absolute;
	top: 0;
	left: 0;
}
.product-specification td.images .inner:hover img,.product-specification td.images .inner:active img,.product-specification td.images .inner:focus img {
	position: absolute;
	top: -20px;
	left: 0;
	z-index: 999;
	width:auto;
	height:auto;
	background: #fff;
	border: 1px solid #eee;
	-moz-box-shadow: 4px 4px 4px #333;
	-webkit-box-shadow: 4px 4px 4px #333;
	box-shadow: 4px 4px 6px #333;
	padding: 5px;
}

/*** Beregner ***/
#pavecalc {
	margin-left: -25px;
	width: 620px;
}
#pavecalc .header {
	background: #bd8cbf url('grafik/beregner-logo.png') no-repeat 20px 20px;
	color: #fff;
	position: relative;
	padding: 1px 0 1px 70px;
	height: 100px;
}
#pavecalc .header h2 {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 28px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	padding: 17px 0 5px 25px;
	margin: 5px 0;
	width: 250px;
}
#pavecalc h3 {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0 0 .3em 0;
	margin: 0 0 .3em 0;
	clear: both;
}
#pavecalc .header .fieldset {
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
	height: 80px;
	padding: 10px 10px 10px 20px;
	background: url('grafik/dimentions.png') no-repeat 58px 19px;
}
#pavecalc .header .fieldset span {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: block;
	float: left;
	padding: 5px;
}
#pavecalc .header .form-item {
	margin: 0;
	width: 55px;
	height: 40px;
	position: absolute;
	top: 60px;
	left: 48px;
	text-align: center;
}
#pavecalc .header .form-item.form-length-box {
}
#pavecalc .header .form-item.form-width-box {
	top: 0;
	left: 123px;
}

#pavecalc .header .form-text {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	font-weight: normal;
	background: #fff;
	color: #333;
	width: 47px;
	height: 16px;
	text-align: center;
	padding: 3px 1px 2px 1px;
	border-width: 1px 0 0 1px;
	border-color: #bfbfbf;
	border-style: solid;
}
#pavecalc .form-result {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
	background: #333;
	color: #fff;
	height: 26px;
	padding: 11px 5px 0 5px;
	width: 70px;
	overflow: hidden;
	position: absolute;
	top: 53px;
	right: 20px;
}
#pavecalc .form-result strong {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-size: 24px;
	font-weight: normal;
}
#pavecalc label {
	color: #222;
	padding: 2px 0 0 2px;
}
#pavecalc .header label {
	font-size: 12px;
	font-weight: normal;
}

#pavecalc .pavetiletype,#pavecalc .pavepatterntype,#pavecalc .paveextras,#pavecalc .resultbar {
	background: #eee;
	margin: 0 0 7px 0;
	padding: 10px 0 10px 20px;
	clear: both;
}
#pavecalc .resultbar {
	background: #dedede;
	height: 30px;
	position: relative;
	z-index: 1;
}
#pavecalc .resultbar h2 {
	display: block;
	float: left;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: #fff;
}

#pavecalc .resultbar .button {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	padding: 5px 15px;
}

#pavecalc .tile {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 20px 20px 0;
	position: relative;
	overflow: hidden;
}
#pavecalc .tile.checked {
	background: #fff;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
}
#pavecalc .tile img {
	width: 120px;
	margin: 0;
}
#pavecalc .tile label {
	display: block;
	width: 125px;
	height: 125px;
	text-align: right;
}
#pavecalc .tile label span {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	bottom: 8px;
	right: 27px;
	display: block;
	line-height: .9em;
	background: #fff;
}
#pavecalc .tile .form-radio {
	position: absolute;
	text-align: right;
	bottom: 10px;
	right: 10px;
}
#pavecalc .tabel-box {
	clear: both;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	margin-bottom: 10px;
	margin-right: 20px;
	padding: 20px;
}
#pavecalc .alert {
	background: #ff8e92;
	color: #fff;
	clear: both;
}
#pavecalc .alert p {
	padding: 4px;
	margin: 0;
}
#pavecalc .alert strong {
	background: #ef3339;
	float: left;
	display: block;
	padding: 4px 10px;
	margin: -4px 10px 0 -4px;
}
#pavecalc .tabel-box-kombi {
	float: left;
	width: 275px;
	margin-right: 20px;
	margin-bottom: 20px;
}
#pavecalc .tabel-box-kombi-less {
	width: 110px;
}
#pavecalc .tabel-box-kombi-more {
	width: 110px;
	margin-right: 0;
}
#pavecalc .tabel-box-kombi h4 {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	background: #999;
	color: #fff;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	padding: 10px;
}
#pavecalc .tabel-box-kombi-less h4 { background: #131313; }
#pavecalc .tabel-box-kombi-more h4 { background: #666; }
#pavecalc .tabel-box-kombi h4 em {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	text-transform: lowercase;
	font-style: normal;
	color: #222;
}
#pavecalc .tabel-box-kombi h4 .dimension { color: #222; }
#pavecalc .tabel-box-kombi .note {
	background: #eee;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding: 12px 10px 2px 10px;
	height: 40px;
}
#pavecalc .tabel-box-kombi-less .note,#pavecalc .tabel-box-kombi-more .note {
	padding-top: 2px;
	height: 50px;
}
#pavecalc .tabel-box-kombi .note label {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 12px;
}
#pavecalc table tr.k2 td { padding-top: 13px; }
#pavecalc .tabel-box-kombi.checked {
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
}
#pavecalc .tabel-box-kombi.checked .note { background: #fff; }
.tableround {
	border: 1px solid #ccc;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding: 10px;
}
table.horiz-lines { width: 100%; }
table.horiz-lines tr { border-bottom: 1px solid #ccc; }
table.horiz-lines tr.last { border-bottom: none; }
#pavecalc .paveextras {}
#pavecalc .paveextras .tabel-box { padding-bottom: 0; }
#pavecalc .paveextras .calc-extras { margin: -20px 20px 0 -20px; }
#pavecalc .paveextras table,#pavecalc .paveextras h3 {
	float: left;
	width: 400px;
	clear: none;
	margin-bottom: 0;
}
#pavecalc table .amount,#pavecalc table .amountprkvm { white-space: nowrap; }

/* Related area */
.relatedproducts {
	background: url('grafik/megadropline.png') no-repeat center 0;
	clear: both;
	padding-top: 2px;
	padding-left: 13px;
}
.megabox .relatedproducts h2,.megabox .relatedproducts h3 {
	font-weight: normal;
	font-size: 11px;
	margin-top: 4px;
	line-height: 1.1em;
}
.megabox .relatedproducts h2 {
	font-size: 12px;
	text-transform: uppercase;
}
.megabox .relatedproducts h3 {
	width: 100px;
	height: 1em;
	overflow: hidden;
}
.megabox .relatedproducts h3.right {
	width: 120px;
	font-size: .857em;
	padding-right: 31px;
}
.relatedproducts .products {
	margin: 4px 0 14px -10px;
}
.relatedproducts .products a {
	display: block;
	float: left;
	padding: 10px;
	height: 81px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.relatedproducts .products a:hover,.relatedproducts .products a:active,.relatedproducts .products a:focus, .relatedproducts .products a.active {
	background: #eee;
}
.field_bannerimage {
	min-height: 414px;
}
.field_bannerimage .node-banner-produktside { padding: 0; }
.field_bannerimage .node-banner-produktside img { display: block; }
#page { position: relative; }
#content-wrapper { padding: 0; }
#content {  font-size: .875em; }
#content-main {
	width: 580px;
	float: left;
	margin-bottom: 30px;
	margin-left: 20px;
}
.front #content-main,#content-main.wideview {
	width: 940px;
	float: none;
	clear: both;
	padding-bottom: 10px;
	margin-left: 0;
}
.not-front #content-main .content img,.not-front #content-main .content iframe { margin: 5px 0 0 -20px; }
.not-front #content-main .content .facebookbox iframe { margin: auto; }
#related {
	width: 300px;
	float: left;
	margin-left: 40px;
}
#related h3 { clear: left; }
#related img { margin-bottom: 20px; }
#related .field_bannerimage .node-banner-produktside img { margin: 0 0 18px 0; }
#nav-sitemap { }
#siteinfo {
	position: relative;
	z-index: 1;
	height: 160px;
	clear: both;
	font-size: .875em;
	line-height: 1.429em;
	color: #4e4b4b;
	background: url('grafik/bottomline.png') no-repeat center top;
	padding: 40px 0 0;
	margin: 15px 0 0 0;
}
#siteinfo-wrapper {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	clear: both;
	padding-top: 60px;
}

#siteinfo .branding-logo {
	position: absolute;
	top: 70px;
	left: 38px;
}
#siteinfo #block-block-1,#siteinfo #block-block-10,#siteinfo #block-block-15,#siteinfo #block-block-11,#siteinfo #block-block-13,#siteinfo #block-block-12,#siteinfo #block-block-14, #siteinfo #block-block-16 {
	position: absolute;
	top: 66px;
	left: 123px;
}
#siteinfo #block-block-1 div.first,#siteinfo #block-block-10 div.first, #siteinfo #block-block-15 div.first,#siteinfo #block-block-11 div.first,#siteinfo #block-block-13 div.first, #siteinfo #block-block-14 div.first, #siteinfo #block-block-16 div.first {
	float: left;
	width: 200px;
}
#siteinfo #block-block-1 div.second,#siteinfo #block-block-10 div.second,#siteinfo #block-block-15 div.second,#siteinfo #block-block-11 div.second,#siteinfo #block-block-13 div.second, #siteinfo #block-block-14 div.second, #siteinfo #block-block-16 div.second {
	float: left;
}
#siteinfo #block-block-12 div.first,#siteinfo #block-block-12 div.second,#siteinfo #block-block-12 div.third {
	float: left;
	width: 150px;
}

#siteinfo #block-block-3,#siteinfo #block-block-7,#siteinfo #block-block-6 {
	position: absolute;
	top: 51px;
	left: 780px;
	text-align: left;
}

#block-menu-menu-sitemap,#block-menu-menu-sitemap-de,#block-menu-menu-sitemap-en,#block-menu-menu-sitemap-ro,#block-menu-menu-sitemap-pl,#block-menu-menu-sitemap-nb, #block-menu-menu-menu-sitemap-sv, #block-menu-menu-menu-menu-sitemap-gh {
	position: absolute;
	top: 60px;
	left: 505px;
	width: 300px;
}
#block-menu-menu-sitemap-pl {
	left: 590px;
}

#block-menu-menu-sitemap .menu,#block-menu-menu-sitemap-de .menu,#block-menu-menu-sitemap-en .menu,#block-menu-menu-sitemap-ro .menu,#block-menu-menu-sitemap-pl .menu,#block-menu-menu-sitemap-nb .menu, #block-menu-menu-menu-sitemap-sv .menu, #block-menu-menu-menu-menu-sitemap-gh .menu {
	margin: 0;
}

#block-menu-menu-sitemap .menu li,#block-menu-menu-sitemap-de .menu li,#block-menu-menu-sitemap-en .menu li,#block-menu-menu-sitemap-ro .menu li,#block-menu-menu-sitemap-pl .menu li,#block-menu-menu-sitemap-nb .menu li, #block-menu-menu-menu-sitemap-sv .menu li, #block-menu-menu-menu-menu-sitemap-gh .menu li {
	width: 100px;
	float: left;
	padding: 0;
	margin: 0;
}
#block-menu-menu-sitemap .menu li a,#block-menu-menu-sitemap-de .menu li a,#block-menu-menu-sitemap-en .menu li a,#block-menu-menu-sitemap-ro .menu li a, #block-menu-menu-sitemap-pl .menu li a, #block-menu-menu-sitemap-nb .menu li a, #block-menu-menu-menu-sitemap-sv .menu li a, #block-menu-menu-menu-menu-sitemap-gh .menu li a {
	padding: 0 10px 0 0;
}

#block-block-2 {
	position: absolute;
	bottom: 0;
	right: 20px;
	color: #999;
}
#block-block-2 a { color: #999; }

#siteinfo-contact { }
#siteinfo-credits { }
#siteinfo-legal { }

/*** Site map ***/
#site-map {
	margin-left: 25px;
}
#site-map h2.title {
	display: none;
}
#site-map ul {
	padding: 0;
	margin: 0;
}
#site-map li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#site-map li a {
	display: block;
	width: 200px;
	border: 1px solid #ccc;
	padding: 3px 10px;
	color: #222;
	margin-bottom: 3px;
}
#site-map li a:hover,#site-map li a:active,#site-map li a:focus,#site-map li a.active {
	color: #ef3339;
}
#site-map ul ul li {
	margin-left: 50px;
}

/** Related styles **/
.relatedbox {
	background-color: #eceae8;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 10px 20px;
	margin: 0 0 10px 0;
}
.fb_iframe_widget { margin-left: 20px; }

/** Frontpage **/
.front-feature {
	position: relative;
	z-index: 1;
	width: 946px;
	margin-left: -1px;
}
.front-feature .row div img {
	display: block;
	border: 1px solid #fff;
}
.front-feature .row div a:hover img { border: 1px solid #bbb; }
.front-feature .row div {
	float: left;
	margin-right: 18px;
	margin-bottom: 18px;
}
.front-feature .row div.last { margin-right: 0; }
.front-feature .row { clear: both; }

/** Nyheder **/
#block-views-nyheder-p-forsiden-block {
	clear: both;
	padding: 20px 0 20px 20px;
}
#block-views-nyheder-p-forsiden-block h2 {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 1.714em;
	color: #ef3339;
	text-transform: uppercase;
	background: url('grafik/spacer.png') no-repeat 0 30px;
	padding: 0 0 30px 0;
}
#block-views-nyheder-p-forsiden-block .view-content .newslisting {
	width: 280px;
	float: left;
	margin-right: 40px;
}
#block-views-nyheder-p-forsiden-block .view-content .newslisting.views-row-last { margin-right: 0; }
#block-views-nyheder-p-forsiden-block .view-content .newslisting a { color:#222; }
#block-views-nyheder-p-forsiden-block .view-content .newslisting a:hover h3 { color:#ef3339; }
.view-id-nyheder,.view-id-jobs {
	padding: 0 0 0 20px;
	width: 610px;
	margin-left: -20px;
}
.news-item .content * {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 14px;
}


/*** Brochure bestillingssiden ***/
.view-id-takso {
	padding: 0;
	margin: 0;
	clear: left;
}
ul.contentbody {
	padding: 0;
	margin: 0;
	clear: both;
}
h2.togglebar {
	font-family: 'GeogrotesqueLight',arial,helvetica,tahoma,sans-serif;
	font-size: 24px;
	color: #4e4b4b;
	text-transform: uppercase;
	background: #eee url('grafik/icons.png') no-repeat 110px -95px;
	padding: 5px 25px;
	margin: 15px 0;
	clear: both;
	cursor: pointer;
}
h2.togglebar.active { background: #eee url('grafik/icons.png') no-repeat 105px -190px; }
li.pdflisting,.view-id-pricelists ul.contentbody .views-row {
	padding: 0;
	margin: 10px 0 10px 20px;
	float: left;
	width: 133px;
	min-height: 250px;
	text-transform: uppercase;
}
li.pdflisting img,.view-id-pricelists ul.contentbody .views-row img {
	border: 1px solid #ddd;
	width: 120px;
	height: auto;
}
li.pdflisting h3,.view-id-pricelists ul.contentbody .views-row h3 {
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 14px;
	line-height: 1.1em;
	height: 2.4em;
}
li.pdflisting .links,.view-id-pricelists ul.contentbody .views-row .links {
	padding: 0;
	margin: 5px 0 0 0;
}
li.pdflisting .links li,.view-id-pricelists ul.contentbody .views-row .links li {
	font-size: 12px;
	float: left;
	margin: 0;
	padding: 0;
}
li.pdflisting .links li.first,.view-id-pricelists ul.contentbody .views-row .links li.first {
	width: 33px;
	min-height: 10px;
}
.i18n-de li.pdflisting .links li.first,.i18n-de .view-id-pricelists ul.contentbody .views-row .links li.first,.i18n-pl li.pdflisting .links li.first,.i18n-pl .view-id-pricelists ul.contentbody .views-row .links li.first { width: auto; }
.i18n-de li.pdflisting .links li.last,.i18n-de .view-id-pricelists ul.contentbody .views-row .links li.last,.i18n-pl li.pdflisting .links li.last,.i18n-pl .view-id-pricelists ul.contentbody .views-row .links li.last { display: none; }
li.pdflisting .links li a,.view-id-pricelists ul.contentbody .views-row .links li a {
	display: block;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #ddd;
}
li.pdflisting .links li.last a,.view-id-pricelists ul.contentbody .views-row .links li.last a {
	padding-right: 0;
	margin-right: 0;
	border-right:0;
}
li.pdflisting .links li.first a,.view-id-pricelists ul.contentbody .views-row .links li.first a { padding-left: 0; }
.page-pdf #block-system-main,.page-prislister #block-system-main,.node-type-contact #block-system-main,.node-type-contact #block-system-main,.section-jobs #block-system-main {
	width: 620px;
	float: left;
}
#block-system-main { min-height: 410px; }
#block-webform-client-block-1736, #block-webform-client-block-378,#block-webform-client-block-713,#block-user-login,#block-mailchimp-lists-1,#block-webform-client-block-579,#block-block-5,#block-block-8,#block-block-9 {
	width: 300px;
	float: left;
	margin-left: 20px;
}
#brochure-cart,#block-user-login .content,#block-user-login h2 { background: #ec343e; }
#block-user-login h2 {
	font-size: 21px;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 20px 5px 20px;
	margin: 0;
}
#block-user-login .content {
	padding: 5px 20px 0 20px;
	margin: 0 0 20px 0;
}
#block-user-login #user-login-form .login-block {
	position: relative;
	padding: 0 0 60px 0;
}
#block-user-login #edit-actions--2 {
	position: absolute;
	bottom: 0;
	left: -20px;
	margin: 0;
	padding: 5px 0 0 0;
	width: 300px;
}
#block-user-login #edit-actions--2 #edit-submit--2 {
	position: absolute;
	bottom: 0;
	right: 0;
}
#block-user-login #edit-actions--2 a {
	font-size: 16px;
	background: #c6343d;
	color: #fff;
	padding: 18px 0 0 25px;
	width: 200px;
	height: 30px;
	display: block;
}

#brochure-cart div.item {
	position: relative;
	color: #fff;
	font-size: .857em;
}
#brochure-cart div.item a {
	color: #fff;
}
#brochure-cart div.item a.remove {
	position: absolute;
	width: 25px;
	height: 25px;
	display: block;
	background: url('grafik/icons.png') no-repeat 0 0;
	top: 0;
	right: 0;
	text-indent: -999em;
}
#brochure-cart h3,#brochure-orderbox h3 {
	font-size: 1.714em;
	text-transform: uppercase;
	padding-top: 5px;
}
#brochure-orderbox h3 { font-size: 1.286em; }
#brochure-orderbox { background: #eee url('grafik/brochure-cart-bg.png') no-repeat center top; }
#brochure-orderbox .form-text { border-color: #fff; }
.private-packages .package {
	display: block;
	padding: 0;
	height: 150px;
}
.private-packages h2 {
	font-size: 30px;
	color: #ec343e;
	padding: 0;
	margin: 0;
}
.private-packages .package a,.commercial-packages a {
	display: block;
	width: 620px;
	height: 132px;
	text-indent: -999em;
	clear: left;
}
.fancybox-outer .customer-chooser a {
	display: inline-block;
	padding: 10px 20px;
	background: #303337;
	color: #fff;
	margin: 10px 50px;
}
.fancybox-outer .customer-chooser {
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}
.private-packages .package a.belaegningspakke {
	background: #eee url('grafik/belaegningspakke2.jpg') no-repeat center top;
}
.private-packages .package a.tagstenspakke {
	background: #eee url('grafik/tagstenspakke2.jpg') no-repeat center top;
}
.commercial-packages a {
	background: #eee url('grafik/prislister.jpg') no-repeat center top;
}
.newprices2013 a {
	display: block;
	width: 620px;
	height: 200px;
	text-indent: -999em;
	background: url('/sites/default/files/bestilling_a_prislister.jpg') no-repeat center top;
}

/*** Contact page ***/
#map-canvas { margin-bottom: 20px; }
.contactpersons .vcard {
	float: left;
	width: 262px;
	min-height: 290px;
	border: 1px solid #fff;
	margin: 0 20px 0 20px;
	padding: 4px 0 15px 0;
}
.contactpersons .vcard .photo {
	height: 125px;
}
.contactpersons .vcard .photo img {
	border: 1px solid #ccc;
}
.contactpersons .vcard div span {
	display: inline-block;
	width: 75px;
}
.contactpersons .vcard .org {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 1em;
	text-transform: uppercase;
	padding: 6px 0 0 0;
}
.view-id-retailers {
	float: left;
	width: 300px;
	min-height: 172px;
	border: 1px solid #eee;
	margin: 0 0 20px 0;
}
.view-id-retailers .view-content {
	padding: 20px 20px 0 20px;
}
.gmap-controls {
	float: left;
	width: 295px;
	margin: 0 0 20px 20px;
}
.gmap-controls .find-nearest {
	background: #eee;
	padding: 6px 10px;
	position: relative;
}
.gmap-controls .find-nearest .button.black {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 10px;
	text-underline: lowercase;
}
.gmap-controls .find-by-zip .form-text {
	width: 205px;
	background: #eee;
	border: none;
	float: left;
	padding: 6px 10px;
}
.gmap-controls .find-by-zip a.button,.gmap-controls .find-by-zip a.button:link,.gmap-controls .find-by-zip a.button:visited {
	padding: 6px 10px 7px 10px;
	background: #eee;
	color: #222;
	display: block;
	float: left;
	width: 50px;
	text-align: right;
}
.gmap-controls h3 {
	clear: both;
	margin-bottom: .2em;
	padding-bottom: .2em;
}
.gmap-controls .retailers,.gmap-controls .departments,#pavecalc .resultbar .retailers {
	background: #eee url('grafik/icons.png') no-repeat -206px -299px;
	position: relative;
	margin-bottom: 10px;
	z-index: 1;
	cursor: pointer;
}

//** Produkt sider **//
.gmap-controls-prod {
	float: left;
	width: 295px;
	margin: 0 0 20px 0; //** 20px; **//
}
.gmap-controls-prod .find-nearest {
	background: #eee;
	padding: 6px 10px;
	position: relative;
}
.gmap-controls-prod .find-nearest .button.black {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 10px;
	text-underline: lowercase;
}
.gmap-controls-prod .find-by-zip .form-text {
	width: 205px;
	background: #eee;
	border: none;
	float: left;
	padding: 6px 10px;
}
.gmap-controls-prod .find-by-zip a.button,.gmap-controls-prod .find-by-zip a.button:link,.gmap-controls-prod .find-by-zip a.button:visited {
	padding: 6px 10px 7px 10px;
	background: #eee;
	color: #222;
	display: block;
	float: left;
	width: 50px;
	text-align: right;
}
.gmap-controls-prod h3 {
	clear: both;
	margin-bottom: .2em;
	padding-bottom: .2em;
}
.gmap-controls-prod .retailers,.gmap-controls-prod .departments {
	background: #eee url('grafik/icons.png') no-repeat -206px -299px;
	position: relative;
	margin-bottom: 10px;
	z-index: 1;
	cursor: pointer;
}


#retaz100 { position: static; z-index: 50; }
#deptz1 { position: static; z-index: 1; }
#deptz1 * { z-index: 0; }

.current-department,.current-retailer {
	padding: 6px 10px;
	position: relative;
	z-index: 0;
}
.gmap-controls .retailers .retailer-list,.gmap-controls .departments .department-list,#pavecalc .resultbar .retailers .retailer-list {
	margin: 0;
	background: #eee;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 200;
	height: 200px;
	width: 295px;
	overflow: auto;
}
.gmap-controls .retailer-list li,.gmap-controls .department-list li,#pavecalc .resultbar .retailer-list li {
	position: relative;
	z-index: 210;
}
.gmap-controls .retailer-list a,.gmap-controls .department-list a,#pavecalc .resultbar .retailer-list a {
	display: block;
	position: relative;
	z-index: 220;
	padding: 1px 10px;
}
#pavecalc .resultbar .retailers {
	width: 295px;
	height: 30px;
	margin-bottom: 0;
	position: absolute;
	top: 10px;
	left: 200px;
	background-color: #fff;
	border-width: 1px 1px 0 1px;
	border-color: #CCCCCC;
	border-style: solid;
}
#pavecalc .resultbar .retailers .current-retailer {
	clear: both;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px;
	width: 265px;
	height: 20px;
}
#pavecalc .resultbar .retailers .retailer-list {
	height: 100px;
	left: -1px;
	padding-top: 0;
	border-width: 0 1px 1px 1px;
	border-color: #CCCCCC;
	border-style: solid;
}
#pavecalc .resultbar .retailer-list li,#pavecalc .resultbar .retailer-list a { background: #fff; }
.gmap-controls .department-list li {
	z-index: 49;
}

.view-id-retailers h2.title, .view-id-retailers_forhandlere h2.title, .view-id-retailers_ibf h2.title  {
	font-family: 'GeogrotesqueSemiBold',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 1.286em;
	text-transform: uppercase;
	color: #ef3339;
	padding: 0;
	margin: 0;
}
.view-id-retailers h2.title a, .view-id-retailers_forhandlere h2.title a, .view-id-retailers_ibf h2.title a {
	color: #ef3339;
}
#ibfcontacts {
	background: url('grafik/spacer580.png') no-repeat center top;
	clear: both;
}
#ibfcontacts .header {
	padding-left: 20px;
}
#ibfcontacts .header h2 {
	font-family: 'GeogrotesqueLight',arial,helvetica,tahoma,sans-serif;
	font-weight: normal;
	font-size: 3.429em;
	color: #ef3339;
}
.show-on-map,.show-on-map.button.black {
	color: #fff !important;
	cursor: pointer;
	padding: 7px 10px;
	margin: 10px 0 20px 0;
	width: 240px;
	background: #333 url('grafik/vispaakort.jpg') no-repeat right top;
}
.show-on-map a { color: #fff !important; }
#block-mailchimp-lists-1,#block-webform-client-block-579 {
	background: #eee;
	margin-bottom: 20px;
}
#brochure-cart .inner,#brochure-orderbox .inner,#block-block-5 .inner,
#block-mailchimp-lists-1 .inner,#block-webform-client-block-579 .inner { padding: 20px; }
#block-mailchimp-lists-1 h2,#block-webform-client-block-579 h2,#webform-client-form-1510 legend {
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
	color: #4e4b4b;
	font-family: 'GeogrotesqueLight',arial,helvetica,tahoma,sans-serif;
	font-size: 30px;
	line-height: 32px;
}
#block-mailchimp-lists-1 .form-submit {
	float: right;
	margin-right: 3px;
	margin-bottom: 35px;
	margin-top: 5px;
}
#block-block-5 {
	background: #ef3339;
	color: #fff;
	margin-bottom: 20px;
}
#block-block-5 p {
	padding: 4px 0 4px 0;
	margin: 4px 0 4px 0;
}
#block-block-5 p strong {
	font-family: 'GeogrotesqueLight',arial,helvetica,tahoma,sans-serif;
	font-size: 36px;
	font-weight: normal;
	padding-top: 4px;
	margin-top: 3px;
	display: block;
}
#block-block-5 h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: #fff;
}

/**** infieldlabels ****/
.infieldlabels .form-item,#block-mailchimp-lists-1 .form-item,#block-webform-client-block-579 .form-item {
	position: relative;
	margin: .3em 0;
}
.infieldlabels .form-item label,#block-mailchimp-lists-1 label,#block-webform-client-block-579 label {
	font-family: 'GeogrotesqueRegularItalic',arial,helvetica,tahoma,sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #999;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 0 0 12px;
}

/*** Produkt oversigt side ***/
#content-product-list {
	margin: 5px 0 0 -20px;
	width: 640px;
}
#content-main.wideview #content-product-list {
	width: 960px;
	margin-left: 0;
}
.belaegning-list {
	width: 980px;
	margin-left: 0;
}
.belaegning-list ul {
	margin: 0;
	padding: 0;
}
.jsactive #content-main.wideview #content-product-list { width: 940px; }
body.node-type-top-oversigtsside .jsactive #content-main.wideview #content-product-list {width: 960px;}
#content-main #content-product-list img,.belaegning-list img {
	margin: 0;
	display: block;
}
#content-main #content-product-list .product,.belaegning-list .views-row, #content-main #content-product-list .article  {
	margin: 0 20px 20px 0;
	overflow: hidden;
	width: 300px;
	height: 200px;
	position: relative;
	display: block;
	float: left;
}

body.node-type-top-oversigtsside #content-main #content-product-list .article {
	height: 320px;
	overflow: none;
}

.belaegning-list .views-row { padding: 0; }
#content-product-list a,.belaegning-list .views-row a {
	display: block;
	float: left;
}
#content-main #content-product-list .last .product,#content-main #content-product-list .product.last,.belaegning-list .views-row .product.last { margin-right: 0; }
#content-main #content-product-list .product h3,.belaegning-list .product h3, body.node-type-top-oversigtsside #content-main #content-product-list .article h3 {
	position: absolute;
	bottom: 20px;
	left: 0;
	/*background: #333;*/
	padding: 7px 20px;
	margin-right: 50px;
	font-size: 1.286em;
	color: #fff;
}

body.node-type-top-oversigtsside #content-main #content-product-list .article h3 {
	bottom: 140px;
}

body.node-type-top-oversigtsside #content-main #content-product-list .article p {
	position: absolute;
}

.page-node-2618 .article h3 {
	background: #333;
}

.page-node-2618 .article:hover h3 {
	background: #8dc63f;
}

.page-node-2619 .product:hover h3 {
	background: #8dc63f;
}

.page-node-2485 .product:hover h3 {
	background: #8dc63f;
}

.page-node-1724 .product:hover h3 {
	background: #8dc63f;
}

.page-node-1531 .article h3 {
	background: #333;
}

.page-node-1531 .article:hover h3 {
	background: #bd8cbf;
}

.page-node-614 .product h3 {
	background: #333;
}

.node-type-produkt-oversigt .product h3 {
	background: #333;
}

.node-type-oversigtsside .product h3 {
	background: #333;
}

.page-node-614 .product:hover h3 {
	background: #fdb913;
}

body.node-type-top-oversigtsside #content-main #content-product-list .article:hover p {
	color: #222;
}

body.node-type-top-oversigtsside #siteinfo-wrapper {
	padding-top: 0px;
}

body.node-type-top-oversigtsside #siteinfo {
	margin-top:0px;
}

#content-main #content-product-list .product h4,.belaegning-list .product h4 {
	position: absolute;
	top: 20px;
	left: 20px;
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 30px;
	line-height: 1em;
	margin: 0;
	padding: 0;
	color: #fff;
}
#content-main.wideview .headerbox {
	position: relative;
	z-index: 1;
	min-height: 280px;
	margin-bottom: 20px;
	background-position: right top;
	background-repeat: no-repeat;
}
#content-main.wideview .headerbox .fauxbg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#content-main.wideview .headerbox .content {
	padding: 40px 30px 30px 30px;
	position: relative;
	z-index: 20;
}
#content-main.wideview .headerbox div.box {
	font-family: 'GeogrotesqueRegularItalic',arial,helvetica,tahoma,sans-serif;
	display: block;
	padding: 20px 20px 10px 20px;
	width: 530px;
	background: #fff;
	border-bottom: 5px solid #666;
	position: relative;
	z-index: 30;
}
.section-han-hun-og-haven #content-main.wideview .headerbox div.box {
	width: 600px;
	font-family: 'GeogrotesqueRegular',arial,helvetica,tahoma,sans-serif;
	font-size: 29px;
	color: #fff;
	line-height: 1.2em;
	padding: 5px;
	background: none;
	border: none;
}
#content-main.wideview .headerbox h1,#content-main.wideview .headerbox p {
	position: relative;
	z-index: 10;
}

/*** Tema farver ***/
#megadrop9.megabox a:hover,#megadrop9.megabox a:active,#megadrop9.megabox a:focus,#megadrop9.megabox a.active { color:#bd8cbf; }
#megadrop10.megabox a:hover,#megadrop10.megabox a:active,#megadrop10.megabox a:focus,#megadrop10.megabox a.active,
#megadrop627.megabox a:hover,#megadrop627.megabox a:active,#megadrop627.megabox a:focus,#megadrop627.megabox a.active,
#megadrop618.megabox a:hover,#megadrop618.megabox a:active,#megadrop618.megabox a:focus,#megadrop618.megabox a.active { color:#fdb913; }
#megadrop11.megabox a:hover,#megadrop11.megabox a:active,#megadrop11.megabox a:focus,#megadrop11.megabox a.active,
#megadrop620.megabox a:hover,#megadrop620.megabox a:active,#megadrop620.megabox a:focus,#megadrop620.megabox a.active { color:#736357; }
#megadrop12.megabox a:hover,#megadrop12.megabox a:active,#megadrop12.megabox a:focus,#megadrop12.megabox a.active,
#megadrop619.megabox a:hover,#megadrop619.megabox a:active,#megadrop619.megabox a:focus,#megadrop619.megabox a.active { color:#8dc63f; }
#megadrop13.megabox a:hover,#megadrop13.megabox a:active,#megadrop13.megabox a:focus,#megadrop13.megabox a.active,
#megadrop621.megabox a:hover,#megadrop621.megabox a:active,#megadrop621.megabox a:focus,#megadrop621.megabox a.active { color:#448ccb; }

.section-produkter-belaegning .field_colorimage,.section-produkter-belaegning #content-main.wideview .headerbox div.box { border-color: #bd8cbf; }
.section-produkter-tagsten .field_colorimage,.section-produkter-tagsten #content-main.wideview .headerbox div.box { border-color: #fdb913; }
.section-produkter-murvaerk .field_colorimage,.section-produkter-murvaerk #content-main.wideview .headerbox div.box { border-color: #736357; }
.section-produkter-afloeb .field_colorimage,.section-produkter-afloeb #content-main.wideview .headerbox div.box { border-color: #8dc63f; }
.section-produkter-faerdigbeton .field_colorimage,.section-produkter-faerdigbeton #content-main.wideview .headerbox div.box { border-color: #448ccb; }

.section-produkter-belaegning h1.content-title,.section-produkter-belaegning .headerbox h1.title { color: #bd8cbf; }
.section-produkter-tagsten h1.content-title, .section-produkter-tagsten .headerbox h1.title { color: #fdb913; }
.section-produkter-murvaerk h1.content-title, .section-produkter-murvaerk .headerbox h1.title { color: #736357; }
.section-produkter-afloeb h1.content-title, .section-produkter-afloeb .headerbox h1.title { color: #8dc63f; }
.section-produkter-faerdigbeton h1.content-title, .section-produkter-faerdigbeton .headerbox h1.title { color: #448ccb; }

/* .section-nyheder .headerbox h1.title { color: #8dc63f; } */
.section-pdf h1.title,.section-kontakt-forhandlere h1.title,.section-contact-dealers h1.title,.section-kontakt-und-handler h1.title { color: #ef3339; }

body #content-main.wideview .headerbox h1.title { color: #fff; }

.section-produkter-belaegning #content-main #content-product-list a:hover .product h3, .section-produkter-belaegning #content-main #content-product-list a:active .product h3, .section-produkter-belaegning #content-main #content-product-list a:focus .product h3 { background: #bd8cbf; }
.section-produkter-belaegning .belaegning-list .views-row a:hover .product h3, .section-produkter-belaegning .belaegning-list .views-row a:active .product h3, .section-produkter-belaegning .belaegning-list .views-row a:focus .product h3 { background: #bd8cbf; }
.section-produkter-tagsten #content-main #content-product-list a:hover .product h3, .section-produkter-tagsten #content-main #content-product-list a:active .product h3, .section-produkter-tagsten #content-main #content-product-list a:focus .product h3 { background: #fdb913; }
.section-produkter-murvaerk #content-main #content-product-list a:hover .product h3, .section-produkter-murvaerk #content-main #content-product-list a:active .product h3, .section-produkter-murvaerk #content-main #content-product-list a:focus .product h3 { background: #736357; }
.section-produkter-afloeb #content-main #content-product-list a:hover .product h3, .section-produkter-afloeb #content-main #content-product-list a:active .product h3, .section-produkter-afloeb #content-main #content-product-list a:focus .product h3 { background: #8dc63f; }
.section-produkter-faerdigbeton #content-main #content-product-list a:hover .product h3, .section-produkter-faerdigbeton #content-main #content-product-list a:active .product h3, .section-produkter-faerdigbeton #content-main #content-product-list a:focus .product h3 { background: #448ccb; }
.section-han-hun-og-haven #content-main #content-product-list a:hover .product h3, .section-han-hun-og-haven #content-main #content-product-list a:active .product h3, .section-han-hun-og-haven #content-main #content-product-list a:focus .product h3 { background: #228b38; }
.section-inspiration #content-main #content-product-list a:hover .product h3, .section-inspiration #content-main #content-product-list a:active .product h3, .section-inspiration #content-main #content-product-list a:focus .product h3 { background: #ef3339; }

.section-han-hun-og-haven #content-main h1,.section-han-hun-og-haven #content-main h3,.section-han-hun-og-haven #content-main h2 { color: #228b38; }
.section-han-hun-og-haven #content-main .headerbox h2 {	color: #A59E96; }

/*** Language specific hacks ***/
.i18n-en #map-canvas,.i18n-en .find-by-zip,.i18n-en .find-nearest,
.i18n-ro #map-canvas,.i18n-ro .find-by-zip,.i18n-ro .find-nearest,
.i18n-pl #map-canvas,.i18n-pl .find-by-zip,.i18n-pl .find-nearest { display: none !important; }
.i18n-de .megabox .title { font-size: 13px; }
.kundansk { display: none; }
.i18n-da .kundansk { display: inline; }
.i18n-de #search-block-form .form-text { width: 100px; }
.i18n-pl #search-block-form .form-text { width: 65px; }

/*** Single page hacks ***/
.page-node-712 .fb_iframe_widget { display: none; }
.facebookbox {
	z-index: 200;
	padding: 5px;
}


/*** Belægningsoversigtside .page-node-1530 hacks ***/
.page-node-2618 .headerbox h1.title,
.page-node-2115 .headerbox h1.title,
.page-node-2114 .headerbox h1.title,
.page-node-1531 .headerbox h1.title {
	font-size: 4em;
	margin:0;
	margin: 20px 0 15px;
}

.page-node-2618 #content-main.wideview .headerbox div.box,
.page-node-2115 #content-main.wideview .headerbox div.box,
.page-node-2114 #content-main.wideview .headerbox div.box,
.page-node-1531 #content-main.wideview .headerbox div.box {
	background: none;
	border: none;
    font-family: 'GeogrotesqueRegular';
	color: white;
	font-weight: normal;
	font-size: 29px;
	width: 100%;
	line-height: 35px;
	padding: 0 20px 0 5px;
}

body.page-node-1531, body.page-node-2114, body.page-node-2115 {overflow-x:hidden; background: url('grafik/grass-bg.jpg') repeat;}
.page-node-1531 .tiles, .page-node-2114 .tiles, .page-node-2115 .tiles { background:url('grafik/tiles.jpg') top center; position:absolute;top:-137px;width:100%;z-index:-2; height: 729px; }
.page-node-1531 .shadow, .page-node-2114 .shadow, .page-node-2115 .shadow { background: url('grafik/shaddow.png') repeat-x top left;position:absolute;top:592px;height:6px;width:100%; z-index:-1;}
.page-node-1531 .car, .page-node-2114 .car, .page-node-2115 .car { background: url('grafik/car.jpg') no-repeat; width: 939px; height: 592px; position: absolute; top: 0px; left: 50%; margin-left: -1422px; z-index: -1;}
.page-node-1531 .skater, .page-node-2114 .skater, .page-node-2115 .skater { background: url('grafik/skater.png') no-repeat; width: 143px; height: 224px; position: absolute; top: 150px; left: 50%; margin-left: 500px; z-index: -1;}
.page-node-1531 .ball, .page-node-2114 .ball, .page-node-2115 .ball { background: url('grafik/ball.png') no-repeat; width: 164px; height: 170px; position: absolute; top: 650px; left: 50%; margin-left: 465px; z-index: -1;}


/*Display none hacks*/
#webform-component-brochure-kurv {
	display: none;
}


/*** Font familys ***/
@font-face {
    font-family: 'GeogrotesqueRegular';
    src: url('grafik/geogtq-rg-webfont.eot');
    src: url('grafik/geogtq-rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('grafik/geogtq-rg-webfont.woff') format('woff'),
         url('grafik/geogtq-rg-webfont.ttf') format('truetype'),
         url('grafik/geogtq-rg-webfont.svg#GeogrotesqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GeogrotesqueRegularItalic';
    src: url('grafik/geog-rgit-webfont.eot');
    src: url('grafik/geog-rgit-webfont.eot?#iefix') format('embedded-opentype'),
         url('grafik/geog-rgit-webfont.woff') format('woff'),
         url('grafik/geog-rgit-webfont.ttf') format('truetype'),
         url('grafik/geog-rgit-webfont.svg#GeogrotesqueRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GeogrotesqueSemiBold';
    src: url('grafik/geogtq-sb-webfont.eot');
    src: url('grafik/geogtq-sb-webfont.eot?#iefix') format('embedded-opentype'),
         url('grafik/geogtq-sb-webfont.woff') format('woff'),
         url('grafik/geogtq-sb-webfont.ttf') format('truetype'),
         url('grafik/geogtq-sb-webfont.svg#GeogrotesqueSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GeogrotesqueLight';
    src: url('grafik/geogtq-lg-webfont.eot');
    src: url('grafik/geogtq-lg-webfont.eot?#iefix') format('embedded-opentype'),
         url('grafik/geogtq-lg-webfont.woff') format('woff'),
         url('grafik/geogtq-lg-webfont.ttf') format('truetype'),
         url('grafik/geogtq-lg-webfont.svg#GeogrotesqueLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GeogrotesqueThin';
    src: url('grafik/geogtq-th-webfont.eot');
    src: url('grafik/geogtq-th-webfont.eot?#iefix') format('embedded-opentype'),
         url('grafik/geogtq-th-webfont.woff') format('woff'),
         url('grafik/geogtq-th-webfont.ttf') format('truetype'),
         url('grafik/geogtq-th-webfont.svg#GeogrotesqueThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* --------------- System Tabs  --------------- */
.tabs ul.primary {padding: 0 3px;margin: 0;overflow: hidden;border: none;background: transparent url(/themes/bartik/images/tabs-border.png) repeat-x left bottom;}
.tabs ul.primary li {display: block;float: left;vertical-align: bottom;margin: 0 5px 0 0;}
.tabs ul.primary li.active a { border-bottom: 1px solid #ffffff; }
.tabs ul.primary li a {color: #000;background-color: #ededed;height: 1.8em;line-height: 1.9;display: block;font-size: 0.929em;float: left;padding: 0 10px 3px;margin: 0;text-shadow: 0 1px 0 #fff;-moz-border-radius-topleft: 6px;-webkit-border-top-left-radius: 6px;border-top-left-radius: 6px;-moz-border-radius-topright: 6px;-webkit-border-top-right-radius: 6px;border-top-right-radius: 6px;}
.tabs ul.primary li.active a { background-color: #ffffff; }
.tabs ul.secondary {border-bottom: none;padding: 0.5em 0;}
.tabs ul.secondary li {display: block;float: left;}
.tabs ul.secondary li:last-child { border-right: none; }
.tabs ul.secondary li:first-child { padding-left: 0; }
.tabs ul.secondary li a { padding: 0.25em 0.5em; }
.tabs ul.secondary li a.active {background: #f2f2f2;border-bottom: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;}
ul.action-links {list-style: none;margin: 5px;padding: 0.5em 1em;}
ul.action-links li {display: inline-block;margin-left: 10px;}
ul.action-links li a {padding-left: 15px;background: url(/themes/bartik/images/add.png) no-repeat left center;margin: 0 10px 0 0;}

.node-nyheder-container h1.title
{
	color: #ef3339;
	margin-top: 30px;
	margin-bottom: 20px;
}

.node-nyheder-container .content img
{
	float: left;

}

.nyheder-content
{
	float: left;
	width: 250px;

}

.node-nyheder-container .view-header:hover
{
	cursor: pointer;
}

.node-nyheder-container .view-header h1
{
	margin-top: 0px;
	margin-bottom: 0;
	color: #777;
	background-color: #eee;
	padding: 5px 20px;
	font-family: 'GeogrotesqueLight',arial,helvetica,tahoma,sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	line-height: normal;
	font-size: 24px;
}

.node-nyheder-container .views-row {
	border-bottom: solid 2px #ccc;
	padding-top: 0.95em;
	padding-bottom: .5em;
}

.node-nyheder-container .view-nyheder, .node-nyheder-container .view-nyhedsbreve
{
	width: 600px;
	margin-left: -20px;
	padding: 0;
	margin-bottom: 15px;
}
.view-id-nyheder .view-content,.view-id-nyhedsbreve .view-content {
	margin-left: 20px;
	width: 560px;
}

#content-main.node-nyheder-container .content a:link, #content-main.node-nyheder-container .content a:visited
{
	text-decoration: none;
}

#content-main.node-nyheder-container
{
	margin-bottom: 0;
}

.newsletter-mailchimp
{
	width: 280px;
	float: left;
	margin-left: 20px;
	padding: 20px;
	background-color: #ef3339;
	color: #fff;
}

.newsletter-mailchimp div
{
	margin-bottom: 5px;
}

.newsletter-mailchimp div:first-child
{
	font-size: 1.2em;
}

.newsletter-mailchimp .email
{
	width: 100%;
	text-indent: 10px;
	color: #888;
	font-style: italic;
	font-size: 1.0em;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.newsletter-mailchimp .cancel
{
	color: #fff;
	background-color: #888;
	padding: 8px;
	border: none;
}

.newsletter-mailchimp .subscribe
{
	color: #fff;
	background-color: #000;
	padding: 8px;
	border: none;
	margin-left: 5px;
}

.newsletter-mailchimp form
{
	overflow: hidden;
}

.newsletter-mailchimp form div
{
	float: right;
	margin-top: 20px;
}

.title.closed
{
	background: #eee url('grafik/icons.png') no-repeat 90px -93px;
}

.title.opened
{
	background: #eee url('grafik/icons.png') no-repeat 90px -188px;
}

.message
{
	margin-top: 15px;
	margin-bottom: 15px;
    display: none;
}

.messageshow
{
	display: block;
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.4em;
}

.messageshowstatus
{
	color: #7ef193;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.4em;
}

/*Hacks*/
body.i18n-sv #block-system-main .view-display-id-block_2 .view-content .views-table:nth-child(5),
body.i18n-sv #block-system-main .view-display-id-block_2 .view-content .views-table:nth-child(9) {
	display: none;
}

body.i18n-sv li.pdflisting .links li.last a, body.i18n-sv .view-id-pricelists ul.contentbody .views-row .links li.last a { display: none; }
body.i18n-da li.pdflisting .links li.last a, body.i18n-da .view-id-pricelists ul.contentbody .views-row .links li.last a { display: block; }

#block-nodeblock-2611 {
	width: 300px;
	float: left;
	margin-left: 20px;
}
