#nav_logo{
	height:100%;
}
.next {
	width:30%;
	float:right;
}
.back {
	width:30%;
	float:left;
}
.withdropdown{
/* 	padding-bottom:20px; */
}
.withdropdown select{
	width:50%;
	float:right;
	margin-top:-6px;
}
.illustration {
	position:absolute;
}
#parent{
	margin-top:40px;
	
}
#parent img{
	position:absolute;
	top:0px;
	left:0px;
}
.incol{
    width: 60px ;
    float: right;
    height: 23px;
    padding: 1px 1px 1px 10px;
    margin-right: 267px;
    margin-top: -2px;
}
.incolright{
    width: 40% !important;
    float: right !important;
    height: 23px;
    padding: 1px 1px 1px 10px;
    margin-top: 0px;
}
.incolrightadd{
	text-align:center;
	width:30px;
    height: 23px;
    padding: 1px 1px 1px 1px;
    margin-top: -2px;
}
.input-group{
	width:100%;
}
.hr {
	border-width:1px;
	border-color:gray;
	margin: 2px 0px 2px 0px;
}
#text1,#text2,#text3 ,#text4,#text5,#text6,#text7,#text8,#text9{
	position:absolute;
	right:20px;
}#text7,#text8{
	right:35px;
}
.nonbordered > tbody > tr > th, .nonbordered > tbody > tr > td{
	border:none;
}

